body{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:100vh;
  }
  .container{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    background-color:#989788;
    width:320px;
    height:500px;
    border-radius:10px;
  }
  
  button{
    font-size:2rem;
    width:100px;
    height:100px;
    border-radius:100%;
  }
  .counter{
    text-align:center;
    font-size:4rem;
  }
  
  .btns{
    display:flex;
    justify-content:space-around;
  }
  
  
  